<ion-view view-title="">
  <ion-content class="padding bg-App" scroll="false" ng-click="click()">
    <ion-item class="text-center" style="background-color: transparent !important" id="item-UP">
      <h2>K$/total: {{cookies}}</h2>
      <hr />
      <p>K$/seg: {{top + clickers}}  K$/tap: 1</p>
    </ion-item>
    <div class="item text-center" style="background-color: transparent !important">
      <img src="img/ionic.png" alt="" />
    </div>

  <ion-list class="padding text-center">
    <ion-item>
      K$/total: {{cookies}}
      <br />
      <p></p>
      Cursors: {{clickers}}
      <p>Cursor Cost: {{clickerPrice()}}</p>
      <p></p>
      Top: {{top}}
      <p>Top Cost: {{topPrice()}}</p>
      <hr />
      <div class="button-bar">
        <a class="button button-dark" ng-click="click()">Click!</a>
        <a class="button button-dark" ng-click="buyClicker()" ng-disabled="cookies < clickerPrice()">Cursors</a>
        <a class="button button-dark" ng-click="buyTop()" ng-disabled="cookies < topPrice()">Top</a>
      </div>
    </ion-item>
  </ion-list>

  </ion-content>
</ion-view>
<!-- {{$root.data.imgClicks}} style="background-color: transparent !important" -->
