<!-- {{$root.data.imgClicks}} style="background-color: transparent !important" -->
<ion-view view-title="">
  <ion-content class="padding bg-App" scroll="false" ng-click="click()">

    <ion-item class="text-center" style="background-color: transparent !important" id="item-UP">
      <p><small>K$/total: {{cookies | number:1}}</small></p>
      <p><small>K$/seg: {{somarTodos() | number:1}}  K$/tap: {{1 | number:1}}</small></p>
    </ion-item>

    <div class="item text-center" style="background-color: transparent !important">
      <img src="img/ionic.png" alt="" />
    </div>
    <hr />

  </ion-content>
</ion-view>
