<ion-view view-title="">
  <ion-content class="padding bg-App">
    <ion-item class="text-center" style="background-color: transparent !important" id="item-UP">
      <h2>K$/total: {{cookies | number:2}}</h2>
      <hr />
      <p>K$/seg: {{somarTodos() | number:2}}  K$/tap: {{1 | number:2}}</p>
    </ion-item>
    <ion-list>
      <ion-item letters-of="{{upgrade.name}}"
                href=""
                class="item-button-right"
                style="background-color: transparent !important"
                ng-repeat="upgrade in upgrades"
                background="stable"
                border="2px solid black"
                color="dark"
                id="item-UP">
                <h2>
                  {{upgrade.name}}
                  <li>
                    <p>Preço: {{upgrade.preco | number:2}}</p>
                  </li>
                </h2>
                <button class="button button-dark">Upgrade!</button>
      </ion-item>
    </ion-list>
      <!--<img ng-src="{{upgrade.face}}">-->
  </ion-content>
</ion-view>
