<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-only tabs-background-dark tabs-color-light">

  <!-- Home Tab -->
  <ion-tab icon-off="ion-ios-home" icon-on="ion-ios-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Shop Tab -->
  <ion-tab icon-off="ion-ios-cart" icon-on="ion-ios-cart" href="#/tab/shop" badge="'!'" badge-style="badge-assertive">
    <ion-nav-view name="tab-shop"></ion-nav-view>
  </ion-tab>

  <!-- Upgrades Tab -->
  <ion-tab icon-off="ion-arrow-up-c" icon-on="ion-arrow-up-c" href="#/tab/upgrades" badge="'!'" badge-style="badge-assertive">
    <ion-nav-view name="tab-upgrades"></ion-nav-view>
  </ion-tab>

  <!-- LoL Tab -->
  <ion-tab icon-off="ion-ionic" icon-on="ion-ionic" href="#/tab/lol">
    <ion-nav-view name="tab-lol"></ion-nav-view>
  </ion-tab>

</ion-tabs>
