/*
  Scss Geral da aplicação
  =Ruan Kaylo=
*/

/* Tela Shop */
.samples div{
 display: -webkit-flex;
 color: #FFFFFF;
 text-shadow: 2px 2px #333;
 font-family: "Lucida Console", Courier, monospace;
 text-align: justify;
 font-size: 12px;
 width: 48%;
 height: 155px;
 border: 1px solid black;
 margin:1px;
}

.samples img {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50%;
  border: 2px solid black;
}

.item.item-button-right .badge {
  position:initial !important;
  display: inline !important;
  top: initial !important;
  right: initial !important;
  font-size: 14px;
}

/* Tela Upgrade */
#item-UP h2 {
  color: #FFFFFF;
  text-shadow: 2px 2px #333;
  font-family: "Lucida Console", Courier, monospace;
}

#item-UP p {
  color: #FFFFFF;
  text-shadow: 2px 2px #333;
  font-family: "Lucida Console", Courier, monospace;
}

.item {
  border: none;
  //1px solid black
}

.item .item-content {
  background-color: transparent !important;
}

/* Modal botao config - index.html */
.home-container {
     display: -webkit-flex;
     -webkit-flex-direction: column;
     font-family: "Lucida Console", Courier, monospace;
     color: #FFFFFF;
     text-shadow: 2px 2px #333;
     height: 100%;
}
.home-container > .row {
     display: -webkit-flex;
     -webkit-flex: 1;
     text-shadow: 2px 2px #333;
}
.header {
     -webkit-flex: 1 !important;
     -webkit-align-items: center;
     font-family: "Lucida Console", Courier, monospace;
     color: #FFFFFF;
     text-shadow: 2px 2px #333;
     //background-color: $dark;
}
.icon-row {
     -webkit-align-items: center;
}
