/*
  Scss Geral da aplicação
  =Ruan Kaylo=
*/

/* Tela Shop */
.samples div{
 color: #FFFFFF;
 font-family: "Lucida Console", Courier, monospace;
 text-align: justify;
 font-size: 1em;
 width: 48%;
 height: 185px;
 border: 1px solid black;
 float: left;
 margin:1px;
}

.samples img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid black;
}

#label-shop {
  color: #FFFFFF;
  font-family: "Lucida Console", Courier, monospace;
  text-align: right;
  border: none;
}

/* Index-Subheader */
#row-SH {
  width: 100%;
  height: 38px;
  font-family: "Lucida Console", Courier, monospace;
  border: none;
}

/* Tela Upgrade */
#item-UP h2 {
  color: #FFFFFF;
  font-family: "Lucida Console", Courier, monospace;
}

#item-UP p {
  color: #FFFFFF;
  font-family: "Lucida Console", Courier, monospace;
}

.item {
  border: 1px solid black;
}

.item .item-content {
  background-color: transparent !important;
}
