/*
  Gradiente da aplicaçao
  =Ruan Kaylo=
*/

@mixin ui-gradient-app() {
  /*background:
  radial-gradient(black 15%, transparent 16%) 0 0,
  radial-gradient(black 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color: #808080;
  background-size:16px 16px;*/
  background: #252233;
  background-image: -webkit-radial-gradient(top, circle cover, #252233 0%, #252233 80%);
  background-image: -moz-radial-gradient(top, circle cover, #252233 0%, #252233 80%);
  background-image: -o-radial-gradient(top, circle cover, #252233 0%, #252233 80%);
  background-image: radial-gradient(top, circle cover, #252233 0%, #252233 80%);
}
