<ion-view view-title="">
  <div class="bar bar-header bar-dark button-left">
    <button class="button icon icon-left ion-close-round" ng-click="closeModal()"></button>
  </div>
    <ion-content class="padding bg-App has-header" scroll="false">
      <section class="home-container">
        <div class="row header">
          <div class="col text-center">
            [Moba Clicker]
            <p />
            <hr>
            [Lista de Beneficios]
            <p />
            <div class="button-bar" ng-controller="ShopCtrl">
              <a class="button button-dark icon ion-ios-cart" ng-click="alertShop()"></a>
              <a class="button button-dark icon ion-arrow-up-c" ng-click="alertUpgrades()"></a>
            </div>
            <hr>
          </div>
        </div>
        <div class="row icon-row">
          <div class="col text-center">
            <button class="button button-dark icon ion-stats-bars"></button>
            <p>Stats</p>
          </div>
          <div class="col text-center">
            <button class="button button-dark icon ion-android-arrow-dropright-circle"> Assistir</button>
            <p>Assistir Vídeo</p>
          </div>
        </div>
        <div class="row icon-row">
          <div class="col text-center">
            <button class="button button-dark icon ion-ios-game-controller-b"></button>
            <p>Play Store<p>
          </div>
          <div class="col text-center">
            <button class="button button-dark icon ion-social-facebook"></button>
            <p>Facebook</p>
          </div>
        </div>
        <div class="row icon-row">
          <div class="col text-center">
            <button class="button button-dark icon ion-information-circled" ng-click="popup_info()"></button>
            <p>Info</p>
          </div>
          <div class="col text-center">
            <button class="button button-dark icon ion-document-text"></button>
            <p>Créditos</p>
          </div>
        </div>
      </section>
    </ion-content>
</ion-view>
