<ion-view view-title="">
  <ion-header-bar class="bar-subheader bar-dark">
    <a class="button icon-left ion-chevron-left button-clear button-stable" ng-click="goHome()">Voltar</a>
  </ion-header-bar>
  <ion-content class="padding bg-App has-subheader" scroll="false">
    <ion-list class="item-button-right">
      <div class="item item-thumbnail-left">
        <img src="img/ionic.png">
        <h2>Nome_Invocador</h2>
        <p>Lvl(1~30) - Ranked</p>
      </div>
      <ion-item letters-of="Ligas" href=""
                background="stable" border="2px solid black"
                color="dark" id="item-UP"
                style="background-color: transparent !important">
                <h2>Liga</h2>
                <p>Verifique sua Liga</p>
                <button class="button button-dark button-icon icon ion-search"></button>
      </ion-item>
      <ion-item letters-of="Talentos" href=""
                background="stable" border="2px solid black"
                color="dark" id="item-UP"
                style="background-color: transparent !important">
                <h2>Talentos</h2>
                <p>Verifique seus Talentos</p>
                <button class="button button-dark button-icon icon ion-search"></button>
      </ion-item>
      <ion-item letters-of="Runas" href=""
                background="stable" border="2px solid black"
                color="dark" id="item-UP"
                style="background-color: transparent !important">
                <h2>Runas</h2>
                <p>Verifique suas Runas</p>
                <button class="button button-dark button-icon icon ion-search"></button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
